<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body class="relative min-h-screen md:flex">
        {% block navigation %}{% endblock %}
        <!-- main site content -->
        <main class="flex-1">
            <!-- data -->
            {% block main %}{% endblock %}
        </main>
        <script src="/static/utils.js"></script>
    </body>
</html>
