{% extends "layout.html" %}

{% block navigation %}
    {% include "navigation.html" %}
{% endblock %}

{% block title %}
    Purchases History
{% endblock %}

{% block main %}
    <div class="card container mx-auto bg-purple-200 w-11/12 mt-6 md:mt-10">
        <div class="">
            <div class="flex justify-between">
                <h2 class="font-bold text-lg">Registry Of Purchases</h2>
                <button class="submit-btn"><a href="/purchase">New Purchase</a></button>
            </div>
            {% for status in purchases_data %}
            <div class="my-8">
                <h4 class="font-bold text-md">{{ status }} Purchases (↓Date)</h4>
                <table class="w-full mt-4">
                    <thead class="bg-purple-800 text-purple-100">
                        <tr class="">
                            {% for header in headers %}
                            <th class="border border-purple-700 p-2">
                                {{ header | title }}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases_data[status] %}
                        <tr>
                            {% for header in headers %}
                            <td class="border border-purple-700 bg-white p-2">
                                {{ purchase[header] | formatter }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
