{% extends "layout.html" %}

{% block navigation %}
    {% include "navigation.html" %}
{% endblock %}

{% block title %}
    Purchases History
{% endblock %}

{% block main %}
    <div class="card container mx-auto bg-purple-200 w-11/12 mt-6 md:mt-10">
        <div class="">
            <div class="flex justify-between">
                <h2 class="font-bold text-lg">Registry Of Purchases</h2>
                <a href="/purchase"><button class="submit-btn">New Purchase</button></a>
            </div>
            {% for status in purchases_data %}
            <div class="my-8">
                <h4 class="font-bold text-md">{{ status }} Purchases (↓Date)</h4>
                <table class="table mt-4">
                    <thead class="">
                        <tr class="">
                            {% for header in headers %}
                            <th class="{% if header == "description" %}hidden md:table-cell{% endif %}">
                                {{ header | title }}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases_data[status] %}
                        <tr>
                            {% for header in headers %}
                            <td class="{% if header == "description" %}hidden md:table-cell{% endif %}">
                                {{ purchase[header] | formatter }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
