{% extends "layout.html" %}

{% block navigation %}
    {% include "navigation.html" %}
{% endblock %}

{% block title %}
    Add Purchase
{% endblock %}

{% block main %}
    <div class="card container mx-auto bg-purple-200 w-4/5 md:w-5/6 mt-12">
        <div class="space-y-4">
            <div class="flex justify-between">
                <h2 class="text-lg font-bold">Add New Purchase</h2>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10
                        w-10" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
                      <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
                    </svg>
                </span>
            </div>
            <form action="/purchase" method="post" class="">
                <div class="md:flex md:flex-none md:flex-wrap gap-y-2 space-y-2
                            gap-x-2 md:space-y-0 md:justify-between">
                    <input type="text" name="seller" autocomplete="off"
                                                     required
                                                     placeholder="Seller"
                                                     class="input-text md:flex-1
                                                     md:basis-3/12">
                    <input type="text" name="item" autocomplete="off"
                                                   required
                                                   placeholder="Item"
                                                   class="input-text md:flex-1
                                                   md:basis-4/12">
                    <input type="number" name="price" step="0.01" min="0.01"
                                                      required
                                                      placeholder="Price"
                                                      autocomplete="off"
                                                      class="input-text
                                                      md:flex-1 md:basis-2/12">
                    <select name="status" required class="input-text bg-white
                                                   md:flex-1 md:basis-2/12">
                        {% for s in status %}
                        <option value="{{ s }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                    <textarea name="description" autocomplete="off"
                                                 rows="2" cols="80"
                                                 placeholder="Description"
                                                 class="input-text
                                                 md:space-y-4"></textarea>
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="submit-btn mt-4">
                        Add Purchase
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
